html
  head
    title=title
    link(href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
    link(href='static/bootstrap-override.css', rel='stylesheet')
    link(href='//fonts.googleapis.com/css?family=Roboto', rel='stylesheet')
  body
    nav.navbar.navbar-default.navbar-fixed-top
      div.container
        div.navbar-header
          a(class='navbar-brand', href='#') Food on Campus
        div#navbar
          ul.nav.navbar-nav
            li.navbar-active
              a(href='#') Home
            li
              a(href='/find') Find Food
            li
              a(href='/about') About
    header#myCarousel.carousel.slide
      ol.carousel-indicators
        li.active(data-target='#myCarousel', data-slide-to='0')
        li(data-target='#myCarousel', data-slide-to='1')
        li(data-target='#myCarousel', data-slide-to='2')

      div.carousel-inner
        div.item.active
          div.fill(style="background-image:url('http://placehold.it/1900x1080&text=Slide One');")
          div.carousel-caption
            h2 Caption One

        div.item
          div.fill(style="background-image:url('static/img/muffin.jpg');")
          div.carousel-caption
            h1 SUPPORT
            p your fellow students' fundraising initiatives

        div.item
          div.fill(style="background-image:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('static/img/samosas.jpg');")
          div.carousel-caption
            h1 DISCOVER
            p Foods from various cultures around the world

      a.left.carousel-control(href='#myCarousel', data-slide='prev')
        span.icon-prev
      a.right.carousel-control(href='#myCarousel', data-slide='next')
        span.icon-next

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
    script.
      $('.carousel').carousel({
        interval: 3500
      })
